body{ 
  background-image: url(https://i.pinimg.com/736x/76/7c/e7/767ce756b16ac7c5a21e9e7f11a22090.jpg) 
}
h1{
  text-align: center;
  font-size: 10.1em; /* Tamaño de fuente */
  color: #ffffff; /* Color del texto */
  margin-bottom: 30px; /* Espacio inferior */
  font-family: 'Courier New', Courier, monospace;
}
h3{
  text-align: center;
  font-size: 7.1em; /* Tamaño de fuente */
  color: #ffffff; /* Color del texto */
  margin-bottom: 30px; /* Espacio inferior */
  font-family: 'Courier New', Courier, monospace;
}
h2{
  font-size: 5.1em; /* Tamaño de fuente */
  color: #070707; /* Color del texto */
  margin-bottom: 30px; /* Espacio inferior */
  margin: 10px; /* Margen */ ;
  font-family: 'Courier New', Courier, monospace;
}
p{
  font-size: 11.4 em; /* Tamaño de fuente */
  color: #070707; /* Color del texto */
  margin-bottom: 30px; /* Espacio inferior */
  margin: 20px; /* Margen */ ;
  font-family: 'Courier New', Courier, monospace;
}
li{
  font-size: 4.1 em; /* Tamaño de fuente */
  color: #070707; /* Color del texto */
  margin-bottom: 30px; /* Espacio inferior */
  font-family: 'Courier New', Courier, monospace;
}
.menu{   
  width: 90%;
  background-color: #aa00ff;
  margin-left: auto;
  margin-right: auto;
}  
.imagen-configurada {
  width: 40%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 40%; /* Mantiene la proporción de la imagen */
  display: block; /* Hace que la imagen sea un bloque para poder centrarla */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  border: 3px solid #000; /* Añade un borde negro de 2px */
}
/* filepath: /workspaces/pagina-web-90/styles.css */
.gif-configurada {
  width: 30%; /* Ajusta el ancho del GIF al 40% del contenedor */
  height: auto; /* Mantiene la proporción del GIF */
  display: block; /* Hace que el GIF sea un bloque para poder centrarlo */
  margin: 0 auto; /* Centra el GIF horizontalmente */
  border: 3px solid #000; /* Añade un borde negro de 2px */
}